.title {
    font-family: MV Boli;
    font-size: 60px;
    margin: auto;
    width: 10%
}

.long {
    border: 3px solid grey; 
    /* border: 3px solid black; */
    padding: 5px;
    margin: auto;
    width: 25%;
    height: 180px;
    margin-top: 35px;
    text-align: center;
}

.short {
    border: 3px solid grey;
    /* border: 3px solid black; */
    padding: 5px;
    margin: auto;
    width: 25%;
    height: 180px;
    text-align: center;
}

.connect-metamask {
    margin: 0;
    position: absolute;
    left: 47%;
}

.open-position {
    border: 3px solid grey;
    /* border: 3px solid black; */
    padding: 5px;
    margin: auto;
    width: 25%;
    height: 115px;
    text-align: center;
}

.close-position {
    border: 3px solid grey;
    /* border: 3px solid black; */
    padding: 5px;
    margin: auto;
    width: 25%;
    height: 115px;
    text-align: center;
}

body {
    background-color: rgb(196, 230, 191);
    /* background-color: white; */
    font-family: Arial;
    color: grey;
}

